################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prism-example-application/DesignTimeBuild
/.vs
**/bin
**/obj
*.DotSettings
**/Build
*.user